In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv('pred_sales_bands.csv')

In [3]:
cars.head()

         year        sales      midband           ub           lb
0  2012-01-01  6033.703635  6033.703635          NaN          NaN
1  2012-02-01  6041.748220  6038.061119  6055.126260  6020.995977
2  2012-03-01  6180.962307  6093.835485  6351.415837  5836.255133
3  2012-04-01  6148.752098  6111.170514  6331.081644  5891.259384
4  2012-05-01  6187.497036  6131.908157  6346.954525  5916.861790

In [5]:
cars = cars.round()

In [8]:
cars.dtypes

year        object
sales      float64
midband    float64
ub         float64
lb         float64
dtype: object

In [9]:
last_year_sales = cars.loc[cars.year.str.contains('2030',regex=True)]

In [10]:
last_year_sales

           year   sales  midband      ub      lb
216  2030-01-01  6819.0   6916.0  7238.0  6593.0
217  2030-02-01  6828.0   6902.0  7215.0  6589.0
218  2030-03-01  6985.0   6915.0  7218.0  6612.0
219  2030-04-01  6949.0   6920.0  7201.0  6639.0
220  2030-05-01  6993.0   6931.0  7203.0  6660.0
221  2030-06-01  6929.0   6931.0  7181.0  6682.0
222  2030-07-01  7075.0   6953.0  7234.0  6672.0
223  2030-08-01  7248.0   6999.0  7421.0  6577.0
224  2030-09-01  6904.0   6984.0  7387.0  6581.0
225  2030-10-01  6991.0   6985.0  7356.0  6615.0
226  2030-11-01  6919.0   6975.0  7324.0  6626.0
227  2030-12-01  7011.0   6980.0  7304.0  6657.0

In [11]:
last_year_sales.sales.sum()

83651.0

In [12]:
last_year_sales.ub.sum()

87282.0

In [13]:
last_year_sales.lb.sum()

79503.0